body {
}

table {
  border: solid red;
  border-collapse: collapse;
}

td {
  height: 20px;
  width: 20px;
  border: 0;
}

.main
{
  border: 0;
}

.full
{
  background: green;
}

.empty
{
  background: whitesmoke;
}

.shape {
  border-collapse: collapse;
  border: none;
}

.sample
{
  padding: 7px;
}

.shapeFull {
  padding: 0;
  border: none;
  background: lightblue;
  height: 20px;
  width: 20px;
}

.shapeFull a 
{
   text-decoration:none;
}

.shapeEmpty {
  padding: 0;
  border: none;
  height: 20px;
  width: 20px;
}


